.container {
    max-width:400px;
}

.input {
    margin-bottom: 8px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.error {
    border: 1px solid red !important;
}

.subGroup {
    margin-top: 15px;
    margin-left: 15px;
}

.sectionTitle {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #93a1a1;
}

.sabServersSection {
    margin-top: 15px;
}

.sabServersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #93a1a1;
}

.sabServerCard {
    color: #93a1a1;
    background-color: #02181d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    position: relative;
    border-radius: 8px;
    padding: 15px;
}

.sabServerInput {
    margin-bottom: 10px;
}

.closeButton {
    line-height: 15px;
    width: 15px;
    height: 15px;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    color: #93a1a1;
    font-size: 21px;
    cursor: pointer;
    transition: color 0.1s ease;
}

.closeButton:hover {
    color: white;
}